/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Lobster);
/* Global */
/* line 11, ../sass/screen.scss */
body, h1, h2, h3, h4 {
  font-family: 'Lato', 'Helvetica Neue', Roboto, Arial, sans-serif;
}

/* line 15, ../sass/screen.scss */
h1 {
  font-size: 48px;
}

/* line 19, ../sass/screen.scss */
h2 {
  font-size: 42px;
}

/* line 22, ../sass/screen.scss */
p {
  color: #333333;
}

/* line 25, ../sass/screen.scss */
.size28 {
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
}

/* line 31, ../sass/screen.scss */
.size26 {
  font-size: 26px;
  text-align: center;
  line-height: 0;
  font-weight: bolder;
}

/* line 38, ../sass/screen.scss */
.size22 {
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}

/* line 45, ../sass/screen.scss */
h4 {
  font-size: 30px;
  font-weight: bolder;
  margin: 15px;
}

/* line 51, ../sass/screen.scss */
.content {
  padding: 2rem 0;
}
/* line 54, ../sass/screen.scss */
.content h4 {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
}
/* line 62, ../sass/screen.scss */
.content .space {
  margin-top: 40px;
}
/* line 66, ../sass/screen.scss */
.content hr {
  border-color: #ca2027;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  width: 50px;
  margin-top: 25px;
  margin-left: 300px;
}
/* line 77, ../sass/screen.scss */
.content .whatimage {
  width: 100%;
  margin-left: 453px;
  margin-top: -480px;
}

/* line 86, ../sass/screen.scss */
.lobster {
  font-family: "Lobster", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/* line 90, ../sass/screen.scss */
.lobsterred {
  font-family: "Lobster", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #ca2027;
  text-decoration: underline;
  font-weight: bolder;
}

/* line 97, ../sass/screen.scss */
.slogan {
  font-size: 36px;
}

/* line 101, ../sass/screen.scss */
.goodlist {
  list-style-image: url("../img/true.png");
  line-height: 0;
}

/* line 106, ../sass/screen.scss */
.wronglist {
  list-style-image: url("../img/false.png");
  line-height: 0;
}

/* Header */
/* line 113, ../sass/screen.scss */
header {
  background-color: #4C4847;
}
/* line 116, ../sass/screen.scss */
header div {
  background: #4c4847 none repeat scroll 0 0;
  border-radius: 0;
  border-style: none;
  display: block;
  height: 63px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 940px;
}
/* line 129, ../sass/screen.scss */
header img {
  margin-top: -20px;
}

/* Postheader */
/* line 137, ../sass/screen.scss */
.postheader {
  background: url("../img/background.JPG") no-repeat fixed center top/cover;
  color: white;
  display: block;
  height: 664px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}
/* line 148, ../sass/screen.scss */
.postheader h2 {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  z-index: 55;
}
/* line 155, ../sass/screen.scss */
.postheader h3 {
  color: white;
  font-size: 28px;
}
/* line 161, ../sass/screen.scss */
.postheader .slogan {
  color: white;
}

/* Footer */
/* line 168, ../sass/screen.scss */
footer {
  background-color: #4c4847;
  color: white;
  height: 144px;
}
/* line 173, ../sass/screen.scss */
footer ul {
  font-size: 11px;
  display: inline-block;
}
/* line 178, ../sass/screen.scss */
footer a, footer a:hover {
  color: #ca2027;
  text-decoration: underline;
  display: inline;
}
/* line 184, ../sass/screen.scss */
footer p {
  font-size: 9px;
  color: white;
}
/* line 189, ../sass/screen.scss */
footer .footer {
  padding-top: 30px;
}
/* line 193, ../sass/screen.scss */
footer img {
  padding-bottom: 10px;
}
/* line 198, ../sass/screen.scss */
footer li {
  display: inline;
  border-right: 1px solid  white;
  padding-right: 5px;
}
/* line 205, ../sass/screen.scss */
footer .inline-list li {
  margin-left: 5px;
}
