/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "colors";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Lobster);


/* Global */
body, h1, h2, h3, h4{
  font-family: 'Lato', 'Helvetica Neue', Roboto, Arial, sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 42px;
}

.content{
  padding: 2rem 0;
}

.lobster{
  font-family: "Lobster", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.slogan{
  font-size: 36px;
}


/* Header */
header{
  background-color: $grey;

  div{
    background: rgba(76, 72, 71, 1) none repeat scroll 0 0;
    border-radius: 0;
    border-style: none;
    display: block;
    height: 63px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
  } 

  img{
    margin-top: -20px;
  }
}


/* Postheader */

.postheader{
    background: url('../img/background.JPG') no-repeat fixed center top / cover;
    color: white;
    display: block;
    height: 664px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

  h2{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    z-index: 55;
  }

  h3{
    color: white;
    font-size: 28px;
  }


  .slogan{
    color: white;
  }
}