/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "colors";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Lobster);


/* Global */
body, h1, h2, h3, h4{
  font-family: 'Lato', 'Helvetica Neue', Roboto, Arial, sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 42px;
}
p{
  color: rgb(51, 51, 51);
}
.size28{
  font-size:28px;
  text-align:center;
  font-weight:bolder;
}

.size26{
  font-size:26px;
  text-align:center;
  line-height:0;
  font-weight:bolder;
}

.size22{
  font-size:22px;
  text-align:center;
  font-weight:bolder;
}


h4{
  font-size:30px;
  font-weight:bolder;
  margin:15px;
}

.content{
  padding: 2rem 0;

  h4{
    font-size:28px;
    font-weight:bolder;
    text-align: center;
    margin:0px;

  }

  .space{
    margin-top:40px;
  }

  hr{
    border-color: rgba(202, 32, 39, 1);
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    width: 50px;
    margin-top:25px;
    margin-left:300px;
  }


  
}

.lobster{
  font-family: "Lobster", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.lobsterred{
   color:rgba(202, 32, 39, 1);
   text-decoration:underline;
   font-weight: bolder;
}

.slogan{
  font-size: 36px;
}

.goodlist li {
 list-style-type: none;
 background-image: url('../img/true.png');
 background-repeat: no-repeat;
 padding-left: 30px;
}

.wronglist li {
 list-style-type: none;
 background-image: url('../img/false.png');
 background-repeat: no-repeat;
 padding-left: 30px;
}


/* Header */
header{
  background-color: $grey;

  div{
    background: rgba(76, 72, 71, 1) none repeat scroll 0 0;
    border-radius: 0;
    border-style: none;
    display: block;
    height: 63px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
  } 

  img{
    margin-top: -20px;
  }
}


/* Postheader */

.postheader{
    background: url('../img/background.JPG') no-repeat fixed center top / cover;
    color: white;
    display: block;
    height: 664px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

  .other{
    background: rgba(36, 65, 75, 0.9);
    position:absolute;
    height: 664px;
    width: 100%;
    margin-top:-32px;
  }

  .formpostheader{
    margin-top:50px;
   }

  p{
    color:white;
  }

  img{
    margin-left: 50px;
    margin-top: -50px;
  }

  label{
    color:white;
  }

  h1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
  }

  .button{
    background-color: rgba(168, 64, 61, 1) ;
  }

  h3{
    color: white;
    font-size: 28px;
    margin-left:200px;
  }

  .mc-field-group {
    margin-top:-10px;
    
  }

  .mc-field-group label{
    display:inline;
    width:20%;
    
  }
  .mc-field-group input{
    display:inline;
    width: 45%;
    border-radius:5px;
    padding:8px;
    
  }

  #mce-EMAIL{
    background-color:#1f3942;
  }

  .mc-field-group div {
    display:inline;
  }

  .size12{
    font-size:12px;
    margin-top:-20px;
  }

  .size17{
    font-size:17px;
    color:#c6cacc;
  }
  .size24{
    font-size:24px;
    font-weight:bolder;
  }

  .size28{
    font-size:28px;
    font-weight:bolder;
  }

  .mailcontainer{
  margin-top:20px;
  }

  .bottompostheader{
    margin-top:270px;
  }


  .slogan{
    color: white;
    line-height:1;
  }
}

/* Footer */

footer{
  background-color:rgba(76, 72, 71, 1);
  color:white;
  height: 144px;

  ul{
    font-size:11px;
    display:inline-block;
  }

  a , a:hover{
    color: #ca2027;
    text-decoration:underline;
    display:inline;
  }

  p{
    font-size:9px;
    color:white;
  }

  .footer{
    padding-top:30px;
  }

  .agileimage{
    margin-top: -10px;
    padding-bottom: 10px;
  }

  img{
    margin:5px;
  }

  .inline-list > li > * {
    display:inline;

  }

  .inline-list li {
    margin-left: 2px;
  }
  
}

@media only screen and (max-width: 40em) {

  .whatimage{
    display:none;
  }

  .upimage{
    display:none;
  }

  .rocketimage{
    display:none;
  }

  .content{

    .size26{
      line-height:1;
    }

    .size28{
      font-size: 26px;
    }

    hr{
      margin-left:200px;
    }
  } 

  .postheader{
    height:443px;

    h3{
      display:none;
    }

    h1{
      font-size:24px;
    }

    p{
      font-size:20px;
      margin-top:-25px;
    }

    .size24{
      display:none;
    }

    .mc-field-group input{
      display:inline;
      width: 100%;
      border-radius:5px;
      padding:8px;
    
    }

    .size28{
    font-size:18px;
    margin-top:-20px;
    }

    .other{
      height:443px
    }



  }


 }